<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Bruce Dickinson</title>
</head>
<body>
    <h1>Bruce Dickinson</h1>
    <img src="/images/bruce.jpg" alt="bruce main">
    <p>Bruce Dickinson is a renowned British musician, author, broadcaster, and airline pilot, best known as the lead vocalist of the iconic heavy metal band Iron Maiden. Born on August 7, 1958, in Worksop, England, Dickinson has left an indelible mark on the music industry with his powerful and distinctive singing style.</p>
    <a href="/about">About</a>
    <a href="/work">Work</a>
    <a href="/gallery">Gallery</a>
</body>
</html>